### PANDAS
---

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('laptopPrice.csv')  #Read a comma-separated values (csv) file into DataFrame.
df

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [5]:
df.head(5)  #This function returns the first n rows for the object based on position. It is useful for quickly testing if your object has the right type of data in it.

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [6]:
df.tail(5)    # This function returns last n rows from the object based on position. It is useful for quickly verifying data, for example, after sorting or appending rows.

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [7]:
df.describe() # describe count , mean , etc

               Price  Number of Ratings  Number of Reviews
count     823.000000         823.000000         823.000000
mean    76745.177400         315.301337          37.609964
std     45101.790525        1047.382654         121.728017
min     16990.000000           0.000000           0.000000
25%     46095.000000           0.000000           0.000000
50%     64990.000000          17.000000           2.000000
75%     89636.000000         139.500000          18.000000
max    441990.000000       15279.000000        1947.000000

In [19]:
#df.info()  # This method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage.

#df.select_dtypes(include='O')

df['brand'].nunique()

8

In [ ]:
print(df.dtypes)   # Prints the values to a stream, or to sys.stdout by default. data types of features 

print("-----------------------------------------------------------------------------------")

print(df.shape) # Prints the values to a stream, or to sys.stdout by default. [ row , column]

print("-----------------------------------------------------------------------------------")

print(df['Price'])     # Prints the values to a stream, or to sys.stdout by default

print("-----------------------------------------------------------------------------------")

b_df = df['brand']

print(b_df)

print("-----------------------------------------------------------------------------------")

b_df.nunique()    # Return number of unique elements in the object. Excludes NA values by default.

print(df['ram_type'].unique())


print("-----------------------------------------------------------------------------------")

brand                object
processor_brand      object
processor_name       object
processor_gnrtn      object
ram_gb               object
ram_type             object
ssd                  object
hdd                  object
os                   object
os_bit               object
graphic_card_gb      object
weight               object
warranty             object
Touchscreen          object
msoffice             object
Price                 int64
rating               object
Number of Ratings     int64
Number of Reviews     int64
dtype: object
-----------------------------------------------------------------------------------
(823, 19)
-----------------------------------------------------------------------------------
0       34649
1       38999
2       39999
3       69990
4       26990
        ...
818    135990
819    144990
820    149990
821    142990
822     57490
Name: Price, Length: 823, dtype: int64
-----------------------------------------------------------------------------------
0        ASUS
1      Lenovo
2      Lenovo
3        ASUS
4        ASUS
        ...
818      ASUS
819      ASUS
820      ASUS
821      ASUS
822    Lenovo
Name: brand, Length: 823, dtype: object
-----------------------------------------------------------------------------------
['DDR4' 'LPDDR4' 'LPDDR4X' 'DDR5' 'DDR3' 'LPDDR3']
-----------------------------------------------------------------------------------

In [ ]:
print(df.iloc[20:25])    #.iloc[] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

print("-----------------------------------------------------------------------------------")

print(df.isnull().sum())   # sum of all null values

print("-----------------------------------------------------------------------------------")

print(df.duplicated().sum())  # Return boolean Series denoting duplicate rows. Considering certain columns is optional.

print("-----------------------------------------------------------------------------------")

print(df.drop_duplicates(inplace=True))      # remove duplicate value and update it to main variable by inplace 
print(df.duplicated().sum())                 

print("-----------------------------------------------------------------------------------")

print(df.dropna(inplace=True))  # Remove missing values.

print("-----------------------------------------------------------------------------------")

print(df.isnull().sum())

print("-----------------------------------------------------------------------------------")

print(df['price'].duplicated().sum())  

print("-----------------------------------------------------------------------------------")

print(df['brand'].nunique())

In [ ]:
asus = df[(df['brand'] == 'ASUS') & (df['processor_brand'] == 'Intel') & (df['ram_gb'] <= '8 GB') & (df['Price'] <= 1000000) & (df['ram_type']=='DDR5')]
asus

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
590,ASUS,Intel,Core i9,12th,16 GB,DDR5,1024 GB,0 GB,Windows,64-bit,6 GB,Casual,No warranty,No,No,299990,3 stars,0,0

In [33]:
# print(df.fillna(0))     # fill parameter values 

print("-----------------------------------------------------------------------------------")

# print(df['price'].fillna(df['price'].mean()))   # fill mean values in place of price 

print("-----------------------------------------------------------------------------------")

df.rename(columns={'age':'umar'},inplace=True)  # change column name
print(df.columns)
df.head()

print("-----------------------------------------------------------------------------------")
df.sort_index(ascending=False)

print("-----------------------------------------------------------------------------------")

cat_column= df.select_dtypes(include="object")
cat_column

print("-----------------------------------------------------------------------------------")

num_column = df.select_dtypes(exclude='O')
num_column

-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
Index(['brand', 'processor_brand', 'processor_name', 'processor_gnrtn',
       'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit', 'graphic_card_gb',
       'weight', 'warranty', 'Touchscreen', 'msoffice', 'Price', 'rating',
       'Number of Ratings', 'Number of Reviews'],
      dtype='object')
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------

      Price  Number of Ratings  Number of Reviews
0     34649                  3                  0
1     38999                 65                  5
2     39999                  8                  1
3     69990                  0                  0
4     26990                  0                  0
..      ...                ...                ...
818  135990                  0                  0
819  144990                  0                  0
820  149990                  0                  0
821  142990                  0                  0
822   57490                 18                  4

[823 rows x 3 columns]